body {
  margin: 0;
  background-color: #333;
  color: #fff;
}

table.menu {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 0;
  border-left: 0;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  border-bottom-right-radius: 6px;
  background-color: #777;
  box-shadow: #000 0 0 15px;
  font-family: 'Courier New', Courier, monospace;
}

table.menu h1 {
  margin: 0 10px;
  font-size: 20px;
}

table.menu td {
  text-align: center;
}

table.menu button {
  width: 80%;
  background-color: #ccf;
  color: #111;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  font-size: 12px;
  border: 1px solid #555;
  transition: width 0.5s, background-color 0.5s;
  border-radius: 3px;
}

table.menu button:hover {
  cursor: pointer;
  background-color: #ddf;
  width: 85%;
  transition: width 0.5s, background-color 0.5s;
}

table.menu button:active,
table.menu button:focus {
  outline: none;
}

table.menu td.label {
  width: 80px;
}

table.menu td.label,
table.menu td.result {
  text-align: right;
}

.clicky {
  position: absolute;
  border-radius: 50%;
  background-color: #aaf;
  border: 1px solid #555;
  box-shadow: #000 0 0 15px;
}

.clicky:hover {
  cursor: pointer;
}
